# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science
 - Open source tools for Data Science
 - Commercial Tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
   1. NumPy
   2. Matplotlib
   3. Pandas
   4. TensorFlow

|Data Science Tools|
|------------------|
|     Hadoop       |
|Jupyter Notebooks |
|    RStudio       |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

## Author
Olha Khomiak